.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #ffffff; 
  padding: 1rem;
  color: #800020; 
  font-family: 'Georgia', serif; 
}

.sidebar h2 {
  color: #FFFFFF; 
}

.sidebar a {
  color: #FFFFFF; 
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

.sidebar a:hover {
  color:#622a2abc;
}

.dashboard-content {
   flex-grow: 1;
  padding: 1rem;
  background: #800020; 
   color: #ffffff;
   font-family: 'Georgia', serif;
}  

.navbar {
  width: 100%;
  background: #3e191c; 
  color: #FFFFFF; 
  background-repeat: no-repeat;
  background-size: cover;  
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  color: #FFFFFF; 
}

.navbar button {
  background: #800020; 
  color: #FFFFFF; 
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3em;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background: #622a2abc; 
}
