.generate-annual-report-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    font-family: 'Georgia', serif;
    color: #800020;
  }
  
  .generate-annual-report-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #800020;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #800020;
    border-radius: 4px;
  }
  
  .btn-raport{
    display: block;
    width: 100%;
    padding: 10px;
    background: #800020;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-raport:hover {
    background-color: #622a2a88;
  }
  